@font-face{
	font-family: 'SFCartoonistHandRegular';
    src: url('SF_Cartoonist_Hand-webfont.eot');
    src: url('SF_Cartoonist_Hand-webfont.eot?#iefix') format('embedded-opentype'),
         url('SF_Cartoonist_Hand-webfont.woff') format('woff'),
         url('SF_Cartoonist_Hand-webfont.ttf') format('truetype'),
         url('SF_Cartoonist_Hand-webfont.svg#SFCartoonistHandRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body{
	font-family: "SFCartoonistHandRegular", Helvetica;
	font-size: 16px;
}
div#start{
	background: #5DCFC3;
	border: 0.2em solid #00675C;
	border-radius: 1em;
	font-size: 2em;
	margin: 1em auto;
	min-width: 320px;
	padding: 0.7em 1em;
	width: 15%;
}
div#start:hover{
	background: #00675C;
	border: 0.2em solid #51B3A9;
	color: #D2905F;
}

div#data{
	background: #34CFBE;
	border: 0.2em solid #00675C;
	border-radius: 1em;
	display: none;
	font-size: 1.5em;
	margin: 1em auto;
	min-width: 320px;
	padding: 0.5em 1em;
	width: 15%;
}